# --- Spring Datasource ---
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/pruebatecnica_bd
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=miguel

# --- JPA / Hibernate ---
SPRING_JPA_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
